<!DOCTYPE html>
<html>

<head>
  <title>認可管理画面</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">つぶやきったー</a>
    <% if (authenticatedUser) { %>
      <a class="btn btn-outline-primary btn-sm btn-nav" href="/logout" role="button">ログアウト</a>
    <% } %>
  </nav>
  <main role="main" class="container">
    <div class="jumbotron">
      <h1 class="display-4">OAuth2管理画面</h1>
    </div>
    <h3><%= app.name %></h3>
    <div>
      <% clients.forEach(client => { %>
        <div class="card bg-light mb-3">
          <div class="card-body">
            <div>
              <div class="row">
                <div class="col">Client ID: <%= client.name %></div>
              </div>
              <div class="row">
                <div class="col-md-10">Client Secret: <%= client.secret %></div>
                <div class="col-md-2 text-right">
                  <form method="post" action="/apps/<%= app.id %>/regenerate_secret">
                    <input type="hidden" name="client_id" value="<%= client.id %>" />
                    <button type="submit" class="btn btn-outline-danger">Regenerate</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
        <form method="post" action="/apps/<%= app.id %>/update">
          <fieldset class="form-group row">
            <label for="inputRedirectUris" class="col-sm-2 col-form-label">Redirect URI</label>
            <div class="col-sm-10">
              <input name="redirect_uris" type="text" class="form-control" id="inputRedirectUris"
                value="<%= app.RedirectUris.map(({ uri }) => uri).join(',') %>" placeholder="Redirect URI" />
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Scope</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input type="checkbox" id="scopeRead" name="scope" value="read" class="form-check-input" <%= hasScope('read') ? 'checked' : '' %> />
                  <label class="form-check-label" for="scopeRead">Read</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" id="scopeWrite" name="scope" value="write" class="form-check-input" <%= hasScope('write') ? 'checked' : '' %> />
                  <label class="form-check-label" for="scopeWrite">Write</label>
                </div>
              </div>
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary">保存</button>
        </form>
        <hr class="mt-3 mb-3" />
        <form method="post" action="/apps/<%= app.name %>/remove">
          <button type="submit" class="btn btn-danger">アプリを削除する</button>
        </form>
    </div>
  </main>
</body>

</html>
