<!DOCTYPE html>
<html>
  <head>
    <title>client side ejs compiled with express middleware</title>
  </head>
  <body>
    <div>認証サーバー</div>
    <% if (authenticatedUser) { %>
      <div><a href="/logout">Logout</a></div>
    <% } %>
    <div>
      <% clients.forEach(client => { %>
        <form method="post" action="/clients/update">
          <div><%= client.label %></div>
          <div>Client ID: <%= client.name %></div>
          <div>Client Secret: <%= client.secret %></div>
          <div>
            Redirect URI:
            <input
              name="redirect_uris"
              type="text"
              value="<%= client.RedirectUris.map(({ uri }) => uri).join(',') %>"
            />
          </div>
          <div>
            <input name="client_name" type="hidden" value="<%= client.name %>" />
            <!-- CSRF対策 -->
            <button>保存</button>
          </div>
        </form>
      <% }) %>
    </div>
    <% if (authenticatedUser) { %>
      <div><a href="/clients/create">Create Client</a></div>
    <% } else { %>
      <div><a href="/login">Login</a></div>
    <% } %>
  </body>
</html>
